<!DOCTYPE html>

<html>
    <head>
        <title>Eulogy Maker</title>
    </head>
    <body>
<h1></h1>
</head>
<section>
    <header>
        <h1>Eulogy Maker</h1>
    </header>
        <main>
            <p>
                Welcome To Your Future! If you dare click the link below,
                you will be on a path to peering into your own demise.
                Not for the timid! 
            </p>
            <ul>
                <li><a href="/eulogy/">Eulogy Maker</a></li>
            </ul>
        </main>
</section>
</body>
</html>
